<% include ../partials/header %>
<header class="jumbotron bg-secondary">
    <h1>YelpCamp</h1>
    <p>
        <h4>Campgrounds</h4>
    </p>
        <div class="container-fluid">
            <p>
                <a class="btn btn-primary btn-md" href="/camps/new">Add a Campground</a>
            </p>
        </div>
</header>

<div class="container">
 <h5>Most Popular Campgrounds</h5>
    <div class="row">
        <% camps.forEach((camp) => { %>
            <div class="col-md-3 col-sm-6">
            <figure class="figure img-thumbnail">
                <img src="<%= camp['img'] %>" alt="Picture of camp <%=camp['name']%>" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-right"><h5><%=camp['name']%></h5></figcaption>
                <p>
                <a href="camps/<%=camp._id%>" class="btn btn-primary float-right">More Information</a>
                </p>
            </figure>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>