<% include partials/header %>

<h1>Campgrounds</h1>
<a href="/camps/new">Add a Campground.</a>
<% campgrounds.forEach((camp) => { %>
    <div class ="campContainer">
        <span class="campName"><%= camp['name'] %></span>
        <span class="campImg"><img src="<%= camp['img'] %>"></span>
    <div>
<% }) %>

TM 2019
<% include partials/footer %>