<h1>Campgrounds</h1>
<% campgrounds.forEach((camp) => { %>
    <div>
        <span class="name"><%= camp['name'] %></span>
        <img src="<%= camp['img'] %>">
    <div>
    <%= console.log(camp['img']); %>
<% }) %>