<% include partials/header %>

<header class="jumbotron bg-secondary">
    <h1>YelpCamp</h1>
    <p>
        <h4>Spend your next camping trip some where special! View and add Campgrounds from all over the world.</h4>
    </p>
    <div class="container-fluid">
        <a class="btn btn-primary btn-md" href="/camps">View All Campgrounds</a>
    </div>
</header>


<% include partials/footer %>