<% include partials/header %>
<% let userExist = baseUrl.split('user=')[1] %>
<% if(loginReq && loginReq === `ERROR: You must be logged in to do that!.`){ %>
    <div class="warning"><%= loginReq %> Please <a href="/login">Login</a> or <a href="/register">Register</a></div>
<% } else if (userExist === 'false'){ %>
    <div class="warning"> That username does not exist, Please <a href="/register"> Register</a></div>
<%} else { %>
    <div class="login">Welcome!</div>
<%}%>
<div class="forms">
    <h2>Log In</h2>
    <div class="form">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Submit</button>
        </form>
        <div>Not a member?... <a href="/register">Register</a></div>
    </div>
</div>

<% include partials/footer %>