<% include partials/header %>
<form action="/addcamp" method="POST">
    <input type="text" name="newcamp" placeholder="Name of Campground" required="required">
    <input type="text" name="imgurl" placeholder="Image URL" required="required">
    <button>Add a Campground</button>
</form>
<% include partials/footer %>