<% include partials/header %>
<header class="jumbotron bg-info text-light">
    <h1>YelpCamp</h1>
</header>
<h3>Add a new Campground!</h3>
<div class="p-3 form-group col-md-6">
    <form action="/camps" method="POST">
        <input type="text" class="form-control mb-3" aria-label="Input Name of camp to add" name="name" placeholder="Name of Camp" required="required">
        <input type="text" class="form-control mb-3" aria-label="Input Image URL of camp" name="image" placeholder="https://www.example.com/image.jpeg" required="required">
        <textarea class="form-control mb-3" rows="6" aria-label="Input Description of Camp" name="description" required="required"></textarea>
        <button class="btn btn-primary btn-md">Add a Campground</button>
    </form>
</div>
<a href="/">Home</a>
<% include partials/footer %>