<% include partials/header %>
<header class="jumbotron bg-info text-light">
    <h1>YelpCamp</h1>
</header>
<h3>Add a new Campground!</h3>
<div class="p-3">
    <form action="/camps" method="POST"> 
            <input type="text" class="form-control mb-3" aria-label="Name of camp to add" name="name" placeholder="Name of Camp" required="required">
            <input type="text" class="form-control mb-3" aria-label="Image URL of camp" name="image" placeholder="https://www.example.com/image.jpeg" required="required">
        <button class="btn btn-primary btn-md">Add a Campground</button>
    </form>
</div>
<a href="/">Home</a>
<% include partials/footer %>