@import "custom";
@import "node_modules/bootstrap/scss/bootstrap";


/* handle resetting CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.forms{
    margin: 40px;
}
.form {
    margin-left: 100px;
}
.login {
    text-align: center;
    font-weight: 900;
}
.warning {
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    max-width: 80%;
    border: 1px solid red;
    text-align: center;
    font-weight: 900;
    color: #1e1e1e;
    background: $warning;
}
.campName {
    float: left;
    clear: left;
}
.price {
    float: left;
    clear: left;
}
.author {
    float: left;
    clear: left;
}

