@import "custom";
@import "node_modules/bootstrap/scss/bootstrap";


/* handle resetting CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.forms{
    margin: 40px;
}
.form {
    margin-left: 100px;
}
.login {
    text-align: center;
    font-weight: 900;
}
.message {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}
.campName {
    float: left;
    clear: left;
}
.price {
    float: left;
    clear: left;
}
.author {
    float: left;
    clear: left;
}

